<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.clancychilds.zoom-passcode-grabber</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>A29B06ED-E58D-4136-8031-2392D26DC2E4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DDCC900F-F0FE-4D95-BD90-D8EE882FC303</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Clancy Childs</string>
	<key>description</key>
	<string>Grabs the Zoom passcode out of your Google Calendar</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zoom Passcode Grabber</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>DDCC900F-F0FE-4D95-BD90-D8EE882FC303</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>zp</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching meetings...</string>
				<key>script</key>
				<string>python3 zoom_passcode_grabber.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Fetch the passcodes for your next Zoom meeting</string>
				<key>title</key>
				<string>Zoom Passcode Grabber</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A29B06ED-E58D-4136-8031-2392D26DC2E4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow will fetch the next two meetings in your Google Calendar and parse out the Zoom Passcodes for them. When a meeting is selected, the passcode is copied to your clipboard for easy pasting into the Zoom Meeting Passcode dialog box.

On the first run of this workflow, you will be asked to authenticate your Google Calendar so that the workflow can fetch your meetings. You should only have to do this once.

https://github.com/clancychilds/alfred-zoom-passcode-grabber</string>
	<key>uidata</key>
	<dict>
		<key>A29B06ED-E58D-4136-8031-2392D26DC2E4</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>DDCC900F-F0FE-4D95-BD90-D8EE882FC303</key>
		<dict>
			<key>xpos</key>
			<integer>335</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/clancychilds/alfred-zoom-passcode-grabber</string>
</dict>
</plist>
